.about {
    position: relative;
    top: -150px;
    padding-bottom: 650px;

    p,
    h2 {
        color: $text-color2;
    }

    #aboutText {
        padding-right: 15vw;
    }
}

#gallery1,
#gallery2,
#gallery3 {
    position: relative;

    img {
        filter: grayscale(90%);
        padding-top: 50px;
        padding-bottom: 50px;
        height: 500px;
        width: 45vw;
        position: absolute;
        left: 0;
        object-fit: cover;

        &.top {
            animation: galleryFade 5s infinite alternate;
        }
    }
}

#gallery2 {
    top: 250px;
}

#gallery3 {
    top: 70px;
}

@keyframes galleryFade {
    0% {
        opacity: 1;
    }
    45% {
        opacity: 1;
    }
    55% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@media only screen and(max-width: 800px) {
    #gallery1,
    #gallery2,
    #gallery3 {
        img {
            height: 50vh;
            width: 100vw;
        }
    }


    #galleryRow{
        justify-content: center;
        display: flex;

    }

    .row__col--2 {
        justify-content: center;
        flex-direction: column;
    }
}
