.about {
    position: relative;
    top: -180px;
    
    p,
    h2 {
        color: $text-color2;
    }

    #aboutLogo {
        width: 300px;
        padding-bottom: 80px;
    }
}

.gallery {
    height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
}
