.ad{
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    background-image: url("../images/figuresAd.jpg");
    height: 50vh;
    left:0;
    text-align: center;
    align-items: center;
    justify-content: center;

}