.ad{
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    background-image: url("../images/figuresAd.jpg");
    height: 50vh;
    align-content: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    #adText{
        font-size: 14px;
        padding: 20px;
    }

}



