:root {
    --gradient: linear-gradient(60deg, #fdfcfb,  #e2d1c3);
}

.header {
    height: 90vh;
    align-items: center;
    text-align: center;
    background-image: var(--gradient);
    background-size: 400%;
    animation: bg-animation 5s infinite alternate;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

#logo {
    width:200px;
    height:auto;
    position: absolute;
    margin-top: 345px;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logoText{
    position: absolute;
    margin-top: 385px;
    left: 50%;
    transform: translateX(-50%);

}

#scrollText{
    display:none;
    position: absolute;
    margin-top: 75vh;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and(max-width: 800px){

    #logo{
        width: 140px;
        margin-top: 285px;
    }

    #logoText{
        margin-top: 310px;
    }

}

@media only screen and(max-width: 350px){

    #logo{
        width: 140px;
        margin-top: 275px;
    }

    #logoText{
        margin-top: 300px;
    }

    #scrollText{
        display:none;
    }

}
