:root {
    --gradient: linear-gradient(60deg, #fdfcfb,  #e2d1c3);
    //background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    //background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
    //background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
    //background-image: linear-gradient(to right, #434343 0%, black 100%);
    //background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);
    //background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
    //background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    //background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.header {
    height: 90vh;
    align-items: center;
    text-align: center;
    background-image: var(--gradient);
    background-size: 400%;
    animation: bg-animation 5s infinite alternate;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

#logo {
    width:200px;
    height:auto;
    position: absolute;
    margin-top: 345px;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logoText{
    position: absolute;
    margin-top: 385px;
    left: 50%;
    transform: translateX(-50%);
}

#scrollText{
    position: absolute;
    margin-top: 77vh;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and(max-width: 500px){
    #logo{
        width: 180px;
        margin-top: 320px;
    }
    #logoText{
        margin-top: 355px;
    }
}
