:root {
    --btnGradient: linear-gradient(60deg, #636363, #363636);
}

.btn {

    a {
        color: white;
    }

    font-weight: 700 !important;
    font-size: 14px;
    font-family: $font;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid black !important;
    color: white;
    font-weight: 900;

    &:hover {
        
        a {
            color: black;
        }

        background-color: white;
        color: black;
    }
}

@media only screen and(max-width: 800px) {
    .btn {
        font-size: 12px;
    }
}
