.cascade {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.drop {
    padding-left: 5vw;
}

.tallDrop {
    position: relative;
    width: 27px;
    height: auto;
    animation: tallDrop-animation 6s infinite alternate;
    transition: ease-in;
}

.shortDrop {
    position: relative;
    padding-top: 39px;
    width: 27px;
    height: auto;
    animation: shortDrop-animation 6s infinite alternate;
    transition: ease-in;
}

@keyframes tallDrop-animation {
    0% {
        top: -15vh;
    }
    100% {
        top: -19vh;
    }
}

@keyframes shortDrop-animation {
    0% {
        top: -22vh;
    }
    100% {
        top: -16vh;
    }
}

@media only screen and(max-width: 800px) {
    .shortDrop {
        width: 20px;
    }

    .tallDrop {
        width: 20px;
    }
    .cascade {
        top: 5vh;
    }
}

@media only screen and(max-width: 350px) {

    .cascade {
        top: 6vh;
    }
}
