.footer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    position: relative;
    height: 100%;
    bottom: 0;

    &__drops {
        width: 80%;
    }

    &__bg {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
        width: 100%;
        background-color: black;
    }
}

@keyframes toInteractionAnimation {
    0% {
        bottom: 25px;
    }
    100% {
        bottom: 10px;
    }
}

.toInteraction {
    fill: white;
    position: absolute;
    bottom: 10px;

    animation: toInteractionAnimation 1s infinite alternate;
}
