.form {
    position: relative;
    left: 20%;
    top: 100px;
    height: 60%;
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 30px;

    .fileUpload {
        border: 1px solid white !important;
        left: 0px;
    }

    &__radiobtn {
        position: relative;
        display: flex;
        left: 0;
        width: 70px;
    }

    input {
        font-size: 14px;
        padding: 20px;
        height: 30px;
        font-family: $font;
        background-color: white;
        color: black;
        font-weight: 300;
        width: 300px;
        border: 1px solid black !important;

        &:focus {
            outline: none;
            border: 1px solid #31a8ff !important;
        }
    }

    textarea {
        font-size: 14px;
        padding: 20px;
        font-family: $font;
        background-color: white;
        color: black;
        font-weight: 300;
        width: 300px;
        border: 1px solid black !important;
    }

    &__btn {
        font-weight: 700 !important;
        width: 50%;
        font-size: 14px;
        font-family: $font;
        background-color: black;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
        border: 1px solid black !important;
        color: white;
        font-weight: 900;

        &:hover {
            background-color: white;
            color: black;
        }


        &--white {
            background-color: white;
            border: 1px solid white !important;
            color: black;

            &:hover {
                background-color: black;
                color: white;
            }
        }
    }

    &__title {
        margin-top: 0;
        padding-bottom: 15px;
    }

    &__label {
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;
    }

    &__error {
        color: red;
        font-weight: 700;
    }
}

@media only screen and(max-width: 800px) {
    .form {
        left: 0;
        align-items: center;
        width: 100vw;
        padding: 30px;
        justify-content: center;

        input {
            width: 80vw;
        }
    }
}
