.navbar {
    position: absolute;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-items: center;
    display: flex;
    flex-direction: column;

    &__without{
        display: flex;
    }

    &__topline {
        height: 15px;

        &--black {
            background-color: black;
        }

        &--white {
            background-color: white;
        }

        width: 100%;
    }

    &__items {

        &--black {
            a {
                color: black;
            }
        }

        &--white {
            a {
                color: white;
            }
        }

        a {
            padding: 15px;
            font-size: 13px;
        }

        display: flex;
        padding: 10px;
    }
}

@media only screen and(max-width: 800px) {
    
}
