.newsLetter {
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: $text-color2;
    height: 60vh;
    display: flex;
    padding-top: 20vh;

    &__content {
        align-self: center;
    }
}
