:root {
    --darkgradient: linear-gradient(60deg, #151515, #2d2d2d);
}

.banner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 100vw;
    background-image: var(--darkgradient);

    &__drops {
        position: absolute;
        bottom: 0;
        width: 80%;
        animation: bannerAnimation 3s infinite alternate;
    }
}

@keyframes bannerAnimation {
    0% {
        bottom: -40px;
    }
    100% {
        bottom: -10px;
    }
}

.store {
    position: relative;
    top: 150px;
    display: flex;
    margin-bottom: 200px;
}

@media only screen and(max-width: 800px) {
    .store {
        flex-direction: column;
        align-items: center;
        align-content: center;

        .stickymenu {
            display: flex;
            flex-direction: row;
            position: unset !important;
            top: 0;
            width: 100%;
            left: 0px;

            .filters {
                width: 50vw;

                h2 {
                    width: 100%;
                }

                &__filter {
                    width: 100%;
                }
            }
        }

        .products {
            align-content: center;
            justify-content: center;
        }
    }

    .maintitle {
        left: 0;
        text-align: center;
        width: 100vw;
    }
}

.stickymenu {
    position: sticky;
    display: flex;
    width: 20%;
    left: 60px;
    height: 100%;
    top: 60px;
    flex-direction: column;
}

.filters {
    h2 {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    span ~ span {
        padding-left: 10px;
    }

    &__filter {
        display: flex;
        padding: 5px 5px;
    }

    padding: 15px;
    padding: 30px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.products {
    margin: 10px;
    position: relative;
    width: 80%;
    display: flex;
    flex-wrap: wrap;

    &__addToBag {
        position: fixed;
        bottom: 40;
    }

    &__preview {
        position: relative;
        display: flex-end;
        flex-direction: column;

        .icon {
            fill: white;
            position: absolute;
            right: 15px;
            bottom: 15px;
        }
    }

    &__info {
        width: 300px;
        padding: 10px;
        margin-bottom: 10px;
    }

    &__img {
        height: 400px;
        width: 300px;
        object-fit: cover;
    }

    &__things {
        padding-top: 5px;
        padding-bottom: 5px;
        position: relative;
        display: flex;
        width: 100%;
    }

    &__title {
        color: black;
        font-weight: 700;
    }

    &__price {
        color: #31a8ff;
        position: absolute;
        right: 0;
    }
}
