:root {
    --darkgradient: linear-gradient(60deg, #363636,  #636363);
}

.banner{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 100vw;
    background-image: var(--darkgradient);

    &__drops{
        position: absolute;
        bottom: 0;
        width: 80%;

    }

}

.filters{

    padding: 15px;
    height: 100%;
    width: 30vw;
    display: flex;
    flex-direction: column;
    padding-left: 5vw;

}

