@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;700;900&display=swap");

$text-color1: black;
$text-color2: white;

$font: "Raleway", sans-serif;

@import "reset";
@import "banner";
@import "card";
@import "circle";
@import "footer";
@import "nav";
@import "btn";
@import "table";
@import "input";
@import "cascade";
@import "about";
@import "ad";
@import "newsLetter";
@import "store";
@import "home";
@import "form";

p {
    font-size: 14px;
    font-family: $font;
    font-weight: 300;
}

a {
    font-family: $font;
    font-weight: 700;
    text-decoration: none;
}

h1{
    font-size: 24px;
    font-family: $font;
    font-weight: 700;
}

h2 {
    font-size: 20px;
    font-family: $font;
    font-weight: 700;
}

input{
    font-family: $font;
}

body {
    font-family: $font;
    background-color: black;
}


.row {
    display: flex;
    justify-content: center;

    &__col {
        padding: 30px;

        &--2 {
            width: 50%;
        }

        &--3 {
            width: 33.3%;
        }

        &--5 {
            width: 50%;
        }
    }
}

@media only screen and(max-width: 800px) {
    p {
        font-size: 12px;
        
    }
}

@media only screen and(max-width: 350px) {
}
