@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;700;900&display=swap");
/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: https://meyerweb.com
	HTML5 Doctor				:: https://html5doctor.com
	and the HTML5 Boilerplate	:: https://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects
*/
img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	 In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select, input, textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights https://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

:root {
  --gradient: linear-gradient(60deg, #fdfcfb,  #e2d1c3);
}

.header {
  height: 90vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-image: var(--gradient);
  background-size: 400%;
  -webkit-animation: bg-animation 5s infinite alternate;
          animation: bg-animation 5s infinite alternate;
}

@-webkit-keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

#logo {
  width: 200px;
  height: auto;
  position: absolute;
  margin-top: 345px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#logoText {
  position: absolute;
  margin-top: 385px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#scrollText {
  display: none;
  position: absolute;
  margin-top: 75vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media only screen and (max-width: 800px) {
  #logo {
    width: 140px;
    margin-top: 285px;
  }
  #logoText {
    margin-top: 310px;
  }
}

@media only screen and (max-width: 350px) {
  #logo {
    width: 140px;
    margin-top: 275px;
  }
  #logoText {
    margin-top: 300px;
  }
  #scrollText {
    display: none;
  }
}

.circle {
  position: absolute;
  margin-top: 150px;
  width: 400px;
  height: 400px;
  background-image: var(--gradient);
  background-size: 300%;
  -webkit-animation: circle-animation 5s infinite alternate;
          animation: circle-animation 5s infinite alternate;
  border-radius: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
          box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
}

.description {
  padding-top: 40vh;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.description p,
.description h1,
.description h2 {
  color: white;
}

.description #intro {
  position: relative;
  height: 200px;
}

.description #product {
  position: relative;
  background-image: none;
  background-color: black;
}

.description #title {
  padding-top: 100px;
  position: relative;
  height: 200px;
}

.description #moreInfo {
  width: 100vw;
  position: relative;
  padding: 30px;
}

@-webkit-keyframes circle-animation {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@keyframes circle-animation {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@media only screen and (max-width: 800px) {
  .circle {
    width: 220px;
    height: 220px;
    margin-top: 180px;
  }
  #moreInfo {
    text-align: left;
  }
}

@media only screen and (max-width: 350px) {
  .circle {
    width: 200px;
    height: 200px;
    margin-top: 180px;
  }
}

.footer {
  background-color: white;
  height: 20vh;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shortDropStill, .tallDropStill {
  width: 27px;
  height: auto;
}

.shortDropStill {
  position: relative;
  padding-top: 40px;
}

#footerCascade {
  position: relative;
  top: 50px;
}

@media only screen and (max-width: 800px) {
  .shortDropStill, .tallDropStill {
    width: 20px;
  }
  .shortDropStill {
    padding-top: 15px;
  }
  #footerCascade {
    top: 40px;
  }
}

@media only screen and (max-width: 350px) {
  .tallDropStill {
    top: 60px;
  }
  .shortDropStill {
    padding-top: 15px;
  }
  #footerCascade {
    top: 30px;
  }
}

:root {
  --btnGradient: linear-gradient(60deg, #636363,  #363636);
}

.btn {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  background-color: black;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  color: white;
  font-weight: 900;
  background-size: 200%;
  -webkit-animation: bg-animation 1s infinite alternate;
          animation: bg-animation 1s infinite alternate;
}

.btn:hover {
  background-image: var(--btnGradient);
  font-weight: 900;
}

@media only screen and (max-width: 800px) {
  .btn {
    font-size: 12px;
  }
}

.imp {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  background-color: #f0f0f0;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 30px;
  padding-right: 30px;
  color: black;
  font-weight: 300;
  width: 300px;
}

@media only screen and (max-width: 500px) {
  .imp {
    width: 250px;
  }
  #mail {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.cascade {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.drop {
  padding-left: 5vw;
}

.tallDrop {
  position: relative;
  width: 27px;
  height: auto;
  -webkit-animation: tallDrop-animation 10s infinite alternate;
          animation: tallDrop-animation 10s infinite alternate;
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
}

.shortDrop {
  position: relative;
  padding-top: 39px;
  width: 27px;
  height: auto;
  -webkit-animation: shortDrop-animation 10s infinite alternate;
          animation: shortDrop-animation 10s infinite alternate;
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
}

@-webkit-keyframes tallDrop-animation {
  0% {
    top: -15vh;
  }
  100% {
    top: -19vh;
  }
}

@keyframes tallDrop-animation {
  0% {
    top: -15vh;
  }
  100% {
    top: -19vh;
  }
}

@-webkit-keyframes shortDrop-animation {
  0% {
    top: -22vh;
  }
  100% {
    top: -16vh;
  }
}

@keyframes shortDrop-animation {
  0% {
    top: -22vh;
  }
  100% {
    top: -16vh;
  }
}

@media only screen and (max-width: 800px) {
  .shortDrop {
    width: 20px;
  }
  .tallDrop {
    width: 20px;
  }
  .cascade {
    top: 5vh;
  }
}

@media only screen and (max-width: 350px) {
  .cascade {
    top: 6vh;
  }
}

.about {
  position: relative;
  top: -150px;
  padding-bottom: 650px;
}

.about p,
.about h1,
.about h2 {
  color: white;
}

.about #aboutText {
  padding-right: 15vw;
}

#gallery1,
#gallery2,
#gallery3 {
  position: relative;
}

#gallery1 img,
#gallery2 img,
#gallery3 img {
  -webkit-filter: grayscale(90%);
          filter: grayscale(90%);
  padding-top: 50px;
  padding-bottom: 50px;
  height: 500px;
  width: 45vw;
  position: absolute;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

#gallery1 img.top,
#gallery2 img.top,
#gallery3 img.top {
  -webkit-animation: galleryFade 5s infinite alternate;
          animation: galleryFade 5s infinite alternate;
}

#gallery2 {
  top: 250px;
}

#gallery3 {
  top: 70px;
}

@-webkit-keyframes galleryFade {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes galleryFade {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 800px) {
  .about {
    top: -25vh;
    padding-bottom: 450px;
  }
  #aboutLogo {
    display: none;
  }
  #gallery1,
  #gallery2,
  #gallery3 {
    width: 100vw;
  }
  #gallery1 img,
  #gallery2 img,
  #gallery3 img {
    height: 50vh;
    width: 100%;
  }
  #gallery3 {
    display: none;
    top: 0;
  }
  #aboutText {
    width: 100vw;
    position: relative;
    padding: 30px;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .row > #gallery1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .row > #aboutText {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .row__col---2 {
    width: 100vw;
  }
}

.ad {
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-image: url("../images/figuresAd.jpg");
  height: 50vh;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ad #adText {
  font-size: 14px;
  padding: 20px;
}

.newsLetter {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20vh;
}

.newsLetter__content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

p {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: black;
}

h1 {
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

body {
  background-color: #000000;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row__col {
  padding: 30px;
}

.row__col--2 {
  width: 50%;
}

.row__col--3 {
  width: 33.3%;
}

.row__col--5 {
  width: 20%;
}

@media only screen and (max-width: 800px) {
  p {
    font-size: 12px;
  }
}
/*# sourceMappingURL=main.css.map */